* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
}

p {
    background-color: lightskyblue;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

pre {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pic {
    height: 300px;
    width: 200px;
}